@import "../../scss/mixins.scss";

header {
  @include headerAndFooterWrapp();

  .searchWrapper {
    @include rowCenterFlex();
    width: 74%;
    .linzaIconWrapper {
      width: 15px;
      height: 14px;
      margin-left: 28px;
      margin-right: 10px;
    }
    input {
      width: 100%;
      border: none;
    }
  }

  .notificationWrapper {
    position: relative;
    @include rowCenterFlex();
    justify-content: center;
    width: 70px;
    box-shadow: 0.5px 0px 0px #cacedb, -0.5px 0px 0px #cacedb;
    height: 100%;
    .countNotification {
      position: absolute;
      top: 36px;
      left: 54%;
    }
  }

  .adminBlockWrapper {
    @include rowCenterFlex();
    cursor: pointer;
    height: 100%;
    &:hover {
      background: #e5e5e5;
    }
    position: relative;
    .logOutWrapper {
      position: absolute;
      top: 68px;
      left: 62px;
      button {
        @include btn(110px, 29px, #007bff, #ffffff);
      }
    }
    .adminAvatar {
      margin-left: 26px;
    }
    .adminName {
      font-family: "HelveticaNeueCyr-Medium";
      color: #5a6169;
      font-size: 15px;
      width: 70px;
      margin-left: 14px;
      margin-right: 26px;
    }
  }

  @include placeholder();
}
