@import "../../scss/mixins.scss";

.contentWrapper {
  width: 80%;
  header {
    @include rowCenterFlex();
    height: 68px;
    background: #ffffff;
    box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);

    .searchWrapper {
      @include rowCenterFlex();
      width: 74%;
      .linzaIconWrapper {
          margin-left: 28px;
      }
      input {
        width: 100%;
        border: none;
      }
    }

    .notificationWrapper {
      width: 70px;
      box-shadow: 0.5px 0px 0px #cacedb, -0.5px 0px 0px #cacedb;
      height: 100%;
    }

    .adminBlockWrapper {
      @include rowCenterFlex();
    }
  }
}
